.App
  display: flex
  justify-content: center
  align-items: center
  font-family: Ubuntu

$gridsize: 8vw

.calc-body
  display: grid
  grid-template-columns: $gridsize $gridsize $gridsize $gridsize
  grid-template-rows: $gridsize $gridsize $gridsize $gridsize $gridsize $gridsize
  padding: 4vw
  background: grey
  gap: 0.25*$gridsize
  color: white
  margin-top: 5vh
  border: 1px solid black

.calc-item
  display: grid
  background: #2743bd
  font-size: 2em
  justify-content: center
  align-items: center
  border: 1px solid black

#display
  grid-column-start: 1
  grid-column-end: 5
  background: #b6b6b6
  color: black
  font-size: 2em

#ac
  grid-row-start: 2
  grid-column-start: 1
  grid-column-end: 3
  background: #e16262

#equals
  grid-row-start: 5
  grid-row-end: 7
  grid-column: 4
  background: #67588d

#zero
  grid-row: 6
  grid-column-start: 1
  grid-column-end: 3
